# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CadExtractExcel.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GitLab\cad-extract-info\CadExtractExcel\.idea\.idea.CadExtractExcel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
