/CadExtractExcel/.vs
/CadExtractExcel/CadExtractExcel/obj
/CadExtractExcel/CadExtractExcel/bin
/CadExtractExcel/CustomActions/obj
/CadExtractExcel/CustomActions/bin
/CadExtractExcel/WixInstaller/obj
/CadExtractExcel/WixInstaller/bin
/CadExtractExcel/WixInstaller/HATSoftware_CPR_light.mnr
/CadExtractExcel/WixInstaller/HATSoftware_CPR.mnr
/CadExtractExcel/2018
/CadExtractExcel/.idea
/CadExtractExcel/*.htm
/CadExtractExcel/Note.txt
