<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!--
    <Property Id="REVIT_VERSION" Value="2019" />
    -->
    <UI>
      <Dialog Id="UserRegistrationDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="no">
        <Control Id="explanationText" X="65" Y="60" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="100"
                 Text="{\WixUI_Font_Normal}Before you can use revit tools, you need to enter the product code given by admin. If you choose not to install this application, click on the Cancel button to exit." />

        <!--
        <Control Id="lblName" Type="Text" X="65" Y="100" Height="17" Width="65" Transparent="yes" Text="{\WixUI_Font_Normal}Your Full Name:" />
        <Control Id="txtName" Type="Edit" X="130" Y="97"  Height="17" Width="152" Property="USER_NAME" />
        <Control Id="lblEmail" Type="Text" X="65" Y="120" Height="17" Width="65" Transparent="yes" Text="{\WixUI_Font_Normal}Your E-mail:" />
        <Control Id="txtEmail" Type="Edit" X="130" Y="117"  Height="17" Width="152" Property="EMAIL" />
        -->

        <Control Id="lblProductCode" Type="Text" X="65" Y="120" Height="17" Width="65" Transparent="yes" Text="{\WixUI_Font_Normal}Product Code:" />
        <Control Id="txtProductCode" Type="MaskedEdit" Text="[PIDTemplate]" X="130" Y="117" Height="17" Width="152" Property="PIDKEY" />

        <Control Id="revitVersion" Type="RadioButtonGroup" Property="REVIT_VERSION" Width="100" Height="60" X="130" Y="150">
          <RadioButtonGroup Property="REVIT_VERSION">
            <RadioButton Value="2019" Text="Revit 2019" Height="17" Width="70" X="0" Y="0" />
            <RadioButton Value="2020" Text="Revit 2020" Height="17" Width="70" X="0" Y="20" />
          </RadioButtonGroup>
        </Control>

        <!--
        <Control Id="revitVersion" Type="RadioButtonGroup" Property="REVIT_VERSION" Width="100" Height="60" X="130" Y="160">
          <RadioButtonGroup Property="REVIT_VERSION">
            <RadioButton Value="2019" Text="Revit 2019" Height="17" Width="70" X="0" Y="0" />
            <RadioButton Value="2020" Text="Revit 2020" Height="17" Width="70" X="0" Y="20" />
          </RadioButtonGroup>
        </Control>
        -->

        <Control Id="Back" Type="PushButton" X="110" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="170" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Publish Event="DoAction" Value="ValidateClientSide">1</Publish>
          <Publish Event="SpawnDialog" Value="InvalidInfoDlg">ERROR_MSG_FLAG = "1"</Publish>
          <Publish Event="ValidateProductID" Value="0">ERROR_MSG_FLAG = "0"</Publish>
          <Publish Event="DoAction" Value="ValidateProductCode">ProductID</Publish>
          <Publish Event="SpawnDialog" Value="InvalidInfoDlg">ProductID AND PIDACCEPTED = "0"</Publish>
          <Publish Event="NewDialog" Value="SetupTypeDlg">ProductID AND PIDACCEPTED = "1"</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="Cancel" Cancel="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter the product code</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}User Registration</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>